body{
    border: 1px;
}

.count1{
    border: 3px;
    background-color: red;
}
.R_TAzU #comp-jrufhmlbnavContainer{
    --section-max-width: 9999px;
    --one-unit: 1cqw;
    --wst-button-color-fill-primary: rgb(var(--color_48));
    --wst-button-color-border-primary: rgb(var(--color_49));
    --wst-button-color-text-primary: rgb(var(--color_50));
    --wst-button-color-fill-primary-hover: rgb(var(--color_51));
    --wst-button-color-border-primary-hover: rgb(var(--color_52));
    --wst-button-color-text-primary-hover: rgb(var(--color_53));
    --wst-button-color-fill-primary-disabled: rgb(var(--color_54));
    --wst-button-color-border-primary-disabled: rgb(var(--color_55));
    --wst-button-color-text-primary-disabled: rgb(var(--color_56));
    --wst-button-color-fill-secondary: rgb(var(--color_57));
    --wst-button-color-border-secondary: rgb(var(--color_58));
    --wst-button-color-text-secondary: rgb(var(--color_59));
    --wst-button-color-fill-secondary-hover: rgb(var(--color_60));
    --wst-button-color-border-secondary-hover: rgb(var(--color_61));
    --wst-button-color-text-secondary-hover: rgb(var(--color_62));
    --wst-button-color-fill-secondary-disabled: rgb(var(--color_63));
    --wst-button-color-border-secondary-disabled: rgb(var(--color_64));
    --wst-button-color-text-secondary-disabled: rgb(var(--color_65));
    --wst-color-fill-base-1: rgb(var(--color_36));
    --wst-color-fill-base-2: rgb(var(--color_37));
    --wst-color-fill-base-shade-1: rgb(var(--color_38));
    --wst-color-fill-base-shade-2: rgb(var(--color_39));
    --wst-color-fill-base-shade-3: rgb(var(--color_40));
    --wst-color-fill-accent-1: rgb(var(--color_41));
    --wst-color-fill-accent-2: rgb(var(--color_42));
    --wst-color-fill-accent-3: rgb(var(--color_43));
    --wst-color-fill-accent-4: rgb(var(--color_44));
    --wst-color-fill-background-primary: rgb(var(--color_11));
    --wst-color-fill-background-secondary: rgb(var(--color_12));
    --wst-color-text-primary: rgb(var(--color_15));
    --wst-color-text-secondary: rgb(var(--color_14));
    --wst-color-action: rgb(var(--color_18));
    --wst-color-disabled: rgb(var(--color_39));
    --wst-color-title: rgb(var(--color_45));
    --wst-color-subtitle: rgb(var(--color_46));
    --wst-color-line: rgb(var(--color_47));
    --wst-font-style-h2: var(--font_2);
    --wst-font-style-h3: var(--font_3);
    --wst-font-style-h4: var(--font_4);
    --wst-font-style-h5: var(--font_5);
    --wst-font-style-h6: var(--font_6);
    --wst-font-style-body-large: var(--font_7);
    --wst-font-style-body-medium: var(--font_8);
    --wst-font-style-body-small: var(--font_9);
    --wst-font-style-body-x-small: var(--font_10);
    --color_0: 255,255,255;
    --color_1: 255,255,255;
    --color_2: 0,0,0;
    --color_3: 237,28,36;
    --color_4: 0,136,203;
    --color_5: 255,203,5;
    --color_6: 114,114,114;
    --color_7: 176,176,176;
    --color_8: 255,255,255;
    --color_9: 114,114,114;
    --color_10: 176,176,176;
    --color_11: 0,0,0;
    --color_12: 51,51,51;
    --color_13: 102,102,102;
    --color_14: 153,153,153;
    --color_15: 255,255,255;
    --color_16: 21,56,63;
    --color_17: 41,112,126;
    --color_18: 62,168,189;
    --color_19: 140,199,211;
    --color_20: 181,224,233;
    --color_21: 37,45,40;
    --color_22: 75,90,81;
    --color_23: 112,135,121;
    --color_24: 160,175,166;
    --color_25: 203,215,208;
    --color_26: 77,36,0;
    --color_27: 155,72,0;
    --color_28: 232,108,0;
    --color_29: 240,176,120;
    --color_30: 247,203,165;
    --color_31: 20,30,62;
    --color_32: 40,61,124;
    --color_33: 60,91,186;
    --color_34: 138,156,209;
    --color_35: 180,193,232;
    --color_36: 0,0,0;
    --color_37: 255,255,255;
    --color_38: 51,51,51;
    --color_39: 102,102,102;
    --color_40: 153,153,153;
    --color_41: 62,168,189;
    --color_42: 232,108,0;
    --color_43: 27,117,188;
    --color_44: 0,0,0;
    --color_45: 255,255,255;
    --color_46: 255,255,255;
    --color_47: 153,153,153;
    --color_48: 62,168,189;
    --color_49: 62,168,189;
    --color_50: 0,0,0;
    --color_51: 0,0,0;
    --color_52: 62,168,189;
    --color_53: 62,168,189;
    --color_54: 102,102,102;
    --color_55: 102,102,102;
    --color_56: 0,0,0;
    --color_57: 0,0,0;
    --color_58: 62,168,189;
    --color_59: 62,168,189;
    --color_60: 62,168,189;
    --color_61: 62,168,189;
    --color_62: 0,0,0;
    --color_63: 0,0,0;
    --color_64: 102,102,102;
    --color_65: 102,102,102;
    --font_0: normal normal normal 28px/1.4em 'arial black',arial-w01-black,arial-w02-black,'arial-w10 black',sans-serif;
    --font_1: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --font_2: normal normal normal 18px/1.4em 'arial black',arial-w01-black,arial-w02-black,'arial-w10 black',sans-serif;
    --font_3: normal normal bold 16px/1.4em 'arial black',arial-w01-black,arial-w02-black,'arial-w10 black',sans-serif;
    --font_4: normal normal normal 110px/1.4em oswald-medium,oswald,sans-serif;
    --font_5: normal normal bold 19px/1.4em oswald-medium,oswald,sans-serif;
    --font_6: italic normal bold 17px/1.4em oswald-medium,oswald,sans-serif;
    --font_7: normal normal normal 16px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
    --font_8: normal normal normal 18px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
    --font_9: normal normal normal 14px/1.4em proxima-n-w01-reg,proxima-n-w05-reg,sans-serif;
    --font_10: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
    --wix-ads-height: 0px;
    --sticky-offset: 0px;
    --wix-ads-top-height: 0px;
    --vh-unit: calc( (100vh - 0px) / 100);
    --site-width: 980px;
    --above-all-z-index: 100000;
    --portals-z-index: 100001;
    -webkit-font-smoothing: antialiased;
    --minViewportSize: 320;
    --maxViewportSize: 1920;
    --theme-spx-ratio: 1px;
    --scaling-factor: min((100 * var(--one-unit)), var(--section-max-width));
    --customScaleViewportLimit: clamp(var(--minViewportSize) * 1px, 100 * var(--one-unit), min(var(--section-max-width), var(--maxViewportSize) * 1px));
    --scrollbar-width: 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    --pinned-layers-in-page: 0;
    --top-offset: var(--header-height);
    --header-height: 39px;
    --above-all-in-container: 10000;
    --bg: 219,219,219;
    --brwt: 0px;
    --brd: var(--color_39);
    --brwb: 0px;
    --bg-scrl: 230,231,232;
    --brwt-scrl: 0px;
    --brd-scrl: var(--color_37);
    --brwb-scrl: 0px;
    --shd-scrl: 0 0 5px rgba(0, 0, 0, 0.5);
    --alpha-brd: 1;
    --alpha-bg: 1;
    --backdrop-filter: none;
    --alpha-brd-scrl: 1;
    --alpha-bg-scrl: 1;
    --bg-overlay-color: rgb(219, 219, 219);
    --bg-gradient: none;
    --shc-mutated-brightness: 110,110,110;
    pointer-events: auto;
    --bgDrop: 255,255,255;
    --rd: 0px;
    --shd: none;
    --fnt: italic normal 700 17px/1.4em oswald-medium,oswald,sans-serif;
    --pad: 5px;
    --txt: 128,130,133;
    --trans: color 0.4s ease 0s;
    --txth: var(--color_39);
    --txts: var(--color_38);
    --alpha-txth: 1;
    --alpha-txts: 1;
    --alpha-bgDrop: 1;
    --boxShadowToggleOn-shd: none;
    --alpha-txt: 1;
    --menuTotalBordersY: 0px;
    --menuTotalBordersX: 0px;
    visibility: inherit;
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}